<%include layout%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contact
        <small>Subheading</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Contact</li>
      </ol>
    </div>
  </div>
  <!--/.row-->
  
  <div class="row">
    <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.1169653264965!2d31.00314351554913!3d-25.333855835307386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee83173e81e1dcf%3A0xd24eb368f3774a84!2s9+Palm+St%2C+White+River%2C+1240%2C+South+Africa!5e0!3m2!1sen!2sus!4v1483485104947" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <h3>Contact Details</h3>
      <p>
        9 Palm Street<br/>
        White River 1240<br/>
        Mpumalanga<br/>
        South Africa
      </p>
      <p><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: +1 (435) 881 3611
      </p>
      <p><i class="fa fa-envelope-o"></i>
        <abbr title="Email">E</abbr>: <a href="mailto:info@plandaibiotech.com">info@plandaibiotech.com</a>
      </p>
      <ul class="list-unstyled list-inline list-social-icons">
        <li>
          <a target="_blank" href="https://www.facebook.com/Plandai-Biotechnology-Inc-141810762677370/"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <!--<li>
          <a target="_blank" href="https://www.linkedin.com/company/16005064?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A16005064%2Cidx%3A2-1-2%2CtarId%3A1482956469676%2Ctas%3Aplandai"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>-->
        <li>
          <a target="_blank" href="https://twitter.com/protextm"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/protextm/"><i class="fa fa-instagram fa-2x"></i></a>
        <li>
          <a target="_blank" href="http://bit.ly/ProtextYouTube"><i class="fa fa-youtube-play fa-2x"></i></a>
        </li>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <h3 class="section-head">Send us a Message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="control-group form-group form-inline">
             <div class="controls row">
               <label class="col-sm-3">Full Name:</label>
               <input type="text" class="form-control col-sm-9" name="name" id="name" required data-validation-required-message="Please enter your name.">
               <p class="help-block"></p>
             </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Company:</label>
                <input type="text" class="form-control col-sm-9" name="company" id="company">
              </div>
            </div>
            <div class="control-group form-group form-inline">
             <div class="controls row">
               <label class="col-sm-3">Phone Number:</label>
               <input type="tel" class="form-control col-sm-9" name="phone" id="phone">
             </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Email Address:</label>
                <input type="email" class="form-control col-sm-9" name="email" id="email" required data-validation-required-message="Please enter your email address.">
              </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class = "controls row">
                <label class="col-sm-3">Country:</label>
                <select class="form-control col-sm-9" id="country" name="country">
                  <option value="">Country...</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AG">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AG">Antigua &amp; Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AA">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia</option>
                  <option value="BL">Bonaire</option>
                  <option value="BA">Bosnia &amp; Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BR">Brazil</option>
                  <option value="BC">British Indian Ocean Ter</option>
                  <option value="BN">Brunei</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="IC">Canary Islands</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CD">Channel Islands</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CI">Christmas Island</option>
                  <option value="CS">Cocos Island</option>
                  <option value="CO">Colombia</option>
                  <option value="CC">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CT">Cote D'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CB">Curacao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="TM">East Timor</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FA">Falkland Islands</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="FS">French Southern Ter</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GB">Great Britain</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GN">Guinea</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HW">Hawaii</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IA">Iran</option>
                  <option value="IQ">Iraq</option>
                  <option value="IR">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="NK">Korea North</option>
                  <option value="KS">Korea South</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Laos</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macau</option>
                  <option value="MK">Macedonia</option>
                  <option value="MG">Madagascar</option>
                  <option value="MY">Malaysia</option>
                  <option value="MW">Malawi</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="ME">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="MI">Midway Islands</option>
                  <option value="MD">Moldova</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Nambia</option>
                  <option value="NU">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="AN">Netherland Antilles</option>
                  <option value="NL">Netherlands (Holland, Europe)</option>
                  <option value="NV">Nevis</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NW">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau Island</option>
                  <option value="PS">Palestine</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PO">Pitcairn Island</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="ME">Republic of Montenegro</option>
                  <option value="RS">Republic of Serbia</option>
                  <option value="RE">Reunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russia</option>
                  <option value="RW">Rwanda</option>
                  <option value="NT">St Barthelemy</option>
                  <option value="EU">St Eustatius</option>
                  <option value="HE">St Helena</option>
                  <option value="KN">St Kitts-Nevis</option>
                  <option value="LC">St Lucia</option>
                  <option value="MB">St Maarten</option>
                  <option value="PM">St Pierre &amp; Miquelon</option>
                  <option value="VC">St Vincent &amp; Grenadines</option>
                  <option value="SP">Saipan</option>
                  <option value="SO">Samoa</option>
                  <option value="AS">Samoa American</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome &amp; Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="OI">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syria</option>
                  <option value="TA">Tahiti</option>
                  <option value="TW">Taiwan</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania</option>
                  <option value="TH">Thailand</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad &amp; Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TU">Turkmenistan</option>
                  <option value="TC">Turks &amp; Caicos Is</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VS">Vatican City State</option>
                  <option value="VE">Venezuela</option>
                  <option value="VN">Vietnam</option>
                  <option value="VB">Virgin Islands (Brit)</option>
                  <option value="VA">Virgin Islands (USA)</option>
                  <option value="WK">Wake Island</option>
                  <option value="WF">Wallis &amp; Futana Is</option>
                  <option value="YE">Yemen</option>
                  <option value="ZR">Zaire</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Address 1:</label>
                <input type="text" class="form-control col-sm-9" name="address1" id="address1">
              </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Address 2:</label>
                <input type="text" class="form-control col-sm-9" name="address2" id="address2">
              </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">City:</label>
                <input type="text" class="form-control col-sm-9" name="city" id="city">
              </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Province / State:</label>
                <input type="text" class="form-control col-sm-9" name="state" id="state" >
              </div>
            </div>
            <div class="control-group form-group form-inline">
              <div class="controls row">
                <label class="col-sm-3">Zip / Postal code:</label>
                <input type="text" class="form-control col-sm-9" name="zippostal" id="zippostal">
              </div>
            </div>
            
          </div>
          <div class="control-group form-group col-md-10">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LcJKBAUAAAAACal7r-2hdnKCl70UBp6H1EuoGI4"></div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
        <!-- /.row -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
<script src="javascripts/contact_me.js"></script>

<%include foot%>