<%include layout%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contact
        <small>Subheading</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Contact</li>
      </ol>
    </div>
  </div>
  <!--/.row-->
  
  <div class="row">
    <div class="col-md-8">
      <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2482.9390558133073!2d-0.14696648384946603!3d51.514334079636164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1482955016661"></iframe>
    </div>
    <div class="col-md-4">
      <h3>Contact Details</h3>
      <p>
        17 Hanover Square<br/>
        London<br/>
        W1S 1BN<br/>
        England
      </p>
      <p><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: +44 (0)203-790-9494
      </p>
      <p><i class="fa fa-envelope-o"></i>
        <abbr title="Email">E</abbr>: <a href="mailto:info@plandaibiotech.com">info@plandaibiotech.com</a>
      </p>
      <ul class="list-unstuled list-inline list-social-icons">
        <li>
          <a href="https://www.facebook.com/Plandai-Biotechnology-Inc-141810762677370/"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/16005064?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A16005064%2Cidx%3A2-1-2%2CtarId%3A1482956469676%2Ctas%3Aplandai"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/PlandaiBiotech"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <h3>Send us a Message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Full Name:</label>
            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Phone Number:</label>
            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email Address:</label>
            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Message:</label>
            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
          </div>
         </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
        <!-- /.row -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
<script src="javascripts/contact_me.js"></script>

<%include foot%>