    <hr>
    <div class='container'>
      <div class='col-md-12'>
       <footer>
        <div class="row">
          <div class="col-sm-4 copyright">
            <p>Copyright &copy; 2016 Plandai Biotech. - All rights reserved</p>
          </div>
          <div class="col-sm-4" id="footer-nav">
            <ul>
              <li><a href='/investors'>Privacy Policy</a></li>
              <li><a href="/about">Safe Harbor</a></li>
              <li><a href="/contact">Articles</a></li>
            </ul>
          </div>
          <div class="col-sm-4 social">
            <a href="https://twitter.com/PlandaiBiotech"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/Plandai-Biotechnology-Inc-141810762677370/"><i class="fa fa-facebook-square fa-2x"></i></a>
          </div>
        </div>
       </footer>
      </div>
    </div>
  </body>
</html>