<%include layout%>
  <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" style="width:100%" src="images/test2.png">
                <div class="carousel-caption">
                    <h2><a href="/investors">Investment Info</a></h2>
                </div>
            </div>
            <div class="item">
              <img class="img-responsive" style="width:100%; transform:translateY(-25%);" src="images/tea_estate.png">
                <div class="carousel-caption">
                    <h2><a href="/articles">Green Tea and Diabetes</a></h2>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" style="width:100%; transform:translateY(-10%);" src="images/natures_secrets.png">
                <div class="carousel-caption">
                    <h2><a href="/about"><img height="30px" src="/images/unlock_natures_secrets_white.png"/></a></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
      
    </header>
    

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                    <h1 class="page-header">
                        Plandai Biotechnology <small>South Africa</small>
                    </h1>
                    <div class="site-intro">
                    <p>
                        Plandaí South Africa has the worldwide exclusive license to develop Phytofare® in botanical drug applications.  The Company recently announced that it has reached an agreement with North West University in South Africa, to begin human clinical trials on the island of Mauritius, a member of the SADC group of African countries, to determine the effectiveness of using Phytofare® catechin complex in regulating insulin levels in Type II Diabetes patients.  
                    </p>
                    <p>
                        Diabetes is now the leading cause of death in South Africa and the rates are only climbing through much of sub-Sahara Africa and the developing world where fat-rich foods have supplanted traditional diets. There is a strong body of scientific research that points to the effectiveness of green tea catechins in managing obesity, high blood pressure, diabetes and other diet-related diseases.  Data from in vitro and in vivo studies suggest that green tea catechins, in particularly EGCG, exert anti-obesity effects via several mechanisms including inhibition of adipocyte differentiation and proliferation, reduction of fat absorption, and the reduction in fat mass, tricylglycerides, free fatty acids and total cholesterol.  The majority of human intervention studies investigating glucose homeostasis further demonstrate improved glucose levels in response to green tea catechins.  Human studies have shown anti-obesity, anti-diabetic and cardio-protective effects of green tea catechins (1).  
                    </p>
                    <p>
                        However, as we all know, like many botanical ingredients green tea is poorly absorbed into the blood stream, rendering it an ineffective primary control therapy.  Phytofare®, on the other hand, which has ten-times greater absorption, may very well provide an inexpensive, all-natural solution to these diseases.  Our clinical trial is designed to build on this prior research and show the benefits of Phytofare® in managing glucose levels, with a short-term goal of having a consumer-ready capsule product by September, 2017.
                    </p>
                    <p>
                        North West University and the Company are finalizing the trial protocols which has a provisional start date of November 2016.  Mauritius was selected as the trial site because, according to the World Health Organization and the International Diabetes Federation (IDF), the prevalence of Type II Diabetes in Mauritius in 2015 was a world-leading 16.28%.  Worldwide as of 2013, 382 million people, or 8.3% of the adult population have diabetes, with Type II Diabetes making up about 90% of the cases.  In 2014, the IDF estimated that diabetes resulted in 4.9 million annual deaths.
                    </p>
                </div>
            </div>
        </div>
        <div class="row panels">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-leaf"></i>Background</h4>
                    </div>
                    <div class="panel-body">
                        <p>Over the past 15 years, the parent company, Plandaí Biotechnology, Inc., has developed a unique extraction method that yields the full phytonutrient profile of green tea in a highly bioactive format.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-child"></i>Advantage</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                          <li>High Bioavailability - up to 10X that of generic GTE</li>
                          <li>Stays in the blood plasma 6x longer</li>
                          <li>Provides therapeutic levels over 24 hours</li>
                        </ul>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Evidence</h4>
                    </div>
                    <div class="panel-body">
                        <p>Recent clinical trials have shown dramatic improvement in bioavailability of Phytofare and efficacy of Pheroid in delivering particles to the blood stream.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 10000 //changes the speed
    })
    </script>
<%include foot%>