<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="Phytofare site for plandai customers">
    <meta name="author" content="Tophe">
    
  </head>
  <body>
    