<%include layout%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Safe Harbor</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Safe Harbor</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p><i>
        This website, including newsletters, news releases, and other corporate materials including, but not limited to; video content, streaming data feeds, or Portable Documents (“PDF”) may contain forward-looking statements, particularly as related to, among other things, the Company’s business strategy. The words or phrases “would be”, “will allow”, “intends to”, “may result”, “are expected to”, “will continue”, “anticipates”, “expects”, “estimate”, “project”, “indicate”, “could”, “potentially”, “should”, “believe”, “considers” or similar expressions are intended to identify “forward-looking statements.” Actual results could differ materially from those projected in the forward-looking statements as a result of a number of risks and uncertainties. Such forward-looking statements are based on current expectations, involve known and unknown risks, a reliance on third parties for information, and other factors that may cause the company’s actual results, performance or achievements, or developments in its industry, to differ materially from the anticipated results, performance or achievements expressed or implied by such forward-looking statements. Factors that could cause actual results to differ materially from anticipated results include risks, uncertainties and other factors that are detailed in the Quarterly and Annual Reports and other documents filed by the Company from time-to-time with the Securities and Exchange Commission. Statements made herein include press releases and are relevant as of the date of the given press release and should not be relied upon as of any subsequent date. Management cautions readers not to place undue reliance on such statements. Plandaí Biotechnology, Inc. does not undertake, and specifically disclaims any obligation, to update any forward-looking statements to reflect occurrences, developments, unanticipated events or circumstances after the date of such statement. Actual results may differ materially from the Company’s expectations and estimates.
      </i></p>
    </div>
  </div>
</div>
<%include foot%>