<h3 style="text-align: center">Corporate Profile</h3>
<p>Protext Pharma, Inc. (publicly traded under “TXTM”), operates two wholly owned subsidiaries: Plandai
Biotechnology South Africa (SA) and Cannabis Biosciences, Inc. Through these companies, we are engaged in
the research and clinical testing of “bioceutical” products—all natural ingredients formulated for
pharmaceutical applications and processed under pharma-grade conditions.</p>
<p>Plandai Biotechnology SA has the exclusive worldwide license to develop pharmaceutical applications and
products using Phytofare® Catechin Complex, which was developed by Plandaí Biotechnology, Inc.
Phytofare® is a highly bioavailable extract produced from live green tea leaves. Human clinical trials have
shown Phytofare® to have 12 times greater bioavailability over generic catechin extracts. What this means is
that Phytofare® can deliver a therapeutic level of catechins, which function as powerful antioxidants, to the
system where they remain active for over 24 hours. Plandaí grows green tea on its 7,500 acre estate in
South Africa, where it also produces the proprietary Phytofare® catechin extract. This vertical structure gives
the Company a continuity of supply as well as quality control throughout the entire process. Targeted
applications for the Company's products include arthritis, inflammation, anti-viral, and diabetes-related
metabolic syndromes.</p>
<p>Cannabis Biosciences was formed and incorporated in 2013 to legally develop non-psychoactive medicines
from live cannabis plant. Using our proprietary processing and extraction technology platform, the company
intends to commence investigations in conjunction with independent researchers to develop and validate a
full-profile cannabis extract, one that contains both CBD and the precursor acid form of THC (THC-A and
THC-B) found in live cannabis plant. The expectation is that the resultant extract will have similar, superior
bioavailability of other Phytofare® extracts with the added benefit of being non-psychoactive. Several third-
party investigations have shown that the precursor acid forms THC-A and THC-B in live cannabis leaf are
inherently non-psychoactive and that the process of drying and heating the leaf metabolizes these acids into
THC, a chemical that triggers the euphoria sought after by recreational users. The Company’s investigations
will show that the Cannabis Biosciences extraction process, which will use live leaf and low temperatures to
extract the phyto-chemicals, leaves the acid forms of THC intact, resulting in a non-psychoactive extract with
full medicinal potential. The Company is actively pursuing government licenses and permits, which are
anticipated to be issued in Q4, 2017, that will allow it to use its proprietary processing and extraction
technology to commence investigations and produce a full-profile cannabis extract.
</p>
<div class="blurred-img" style="width: 50%; margin: 5px auto">
  <img style="opacity:0" src="/images/cannabis/cannabis_rx.png"/>
</div>
<h6>Phytofare®, Green Tea and Metabolic Syndrome</h6>
<p>Metabolic syndrome is a cluster of conditions — increased blood pressure, a high blood sugar level, excess
body fat around the waist and abnormal cholesterol levels — that occur together, increasing your risk of
heart disease, stroke and diabetes. Diabetes Type 2 is a long term metabolic disorder that is characterized by
high blood sugar, insulin resistance, and relative lack of insulin. Long-term complications from high blood
sugar include heart disease, stroke, diabetic retinopathy which can result in blindness, kidney failure, and
poor blood flow in the limbs which may lead to amputations. Levels of type 2 Diabetes have increased
markedly since 1960 in parallel with obesity, and as of 2013 there were approximately 368 million people
diagnosed with the disease compared to around 30 million in 1985.</p>
<p>In looking for a natural solution, epidemiological evidence indicates that populations with a high intake of
green tea catechins benefit in terms of body weight, body fat, the balance of insulin blood glucose, and
cardiovascular health. This is particularly true considering the strong research data from in vitro and animal
studies where actions from green tea catechins have shown decreased carbohydrate absorption, decrease
hepatic glucose production (the inability of insulin to suppress hepatic glucose production is a key defect
found in type 2 diabetes) and increased insulin sensitivity (the relationship between how much insulin needs
to be produced in order to deposit a certain amount of glucose).</p>
<p>However, transferring the scientific findings from in vitro and animal studies to humans has always been met
with metabolism and degradation issues as well as poor bioavailability. Any proposed catechin therapy
would require high dosage of catechins that could induce toxicity and side effects.</p>
<p>Phytofare® catechin complex is a highly bioavailable complex of all 8 catechins found in green tea that have
been clinically researched to efficiently transfer the antioxidants into the blood plasma, where they remain
for more than 24 hours. Furthermore, the daily dosage has been established at 12 times less than generic
green tea, thereby delivering an active antibiotic without toxicity or side effect issues.</p>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <img src="/images/profile_snip.PNG"/>
  </div>
  <div class="col-lg-6 col-sm-12">
    <p>
      To clinically prove these antidiabetic benefits in humans, Protext will undertake a double-
      blind human clinical trial, with the objective to commercialize an affordable solution to a
      multibillion dollar global market opportunity for the prevention and containment of
      metabolic syndrome causes.
    </p>
  </div>
</div>
<h6>Medicinal Non-Psychoactive Cannabis</h6>
<p>The plant Cannabis sativa produces over 421 chemical compounds including 80 terpeno-phenol compounds
(phytocannabinoids) that have not been detected in any other plant. Currently, commercial attention has
been focused on producing extracts of ∆9- tetrahydrocannabinol (∆9- THC) which is the most psychotropic
component and rapidly metabolizes in the body to a number of oxygenated products, but specifically binds to
the G-protein-coupled CB1and CB2 neuron receptors, and in isolating the non-psychoactive CBD (hemp)
compound.</p>
<p>Our strategy is to improve the efficacy by delivering a complex of highly bioavailable non-psychoactive
cannabinoids and polyphenols. We will eliminate the psychotropic side effects of ∆9- tetrahydrocannabinol by
retaining it in its natural form: ∆9- tetrahydrocannabinol acid (∆9-THCA and (∆9-THCB), cannabidiolic acid
(CBDA) and ∆9 tetrahydrocannabivarin (∆9-THCV). Research shows that these compounds, together with
cannabidiol (CBD), deliver several safe, positive pharmacological effects in treating inflammation, diabetes and
cancers without the unwanted psychosis of THC.</p>
<p>Cannabinoids have also been shown to exert neuroprotective actions relevant in the treatment and
prevention and apoptotic signalling of neuro-degenerative diseases including Alzheimer’s, Parkinson’s and
Huntington’s.</p>
<p>Based on all the scientific evidence, the company intends to produce a complex of the entire plant
phytonutrients, including cannabinoids, cannabinoid acids and polyphenols, delivered in sub-micron and nano-
lipophilic particles with high human isomeric identity. Based on published science, Phytofare® cannabinoid
complex should not exhibit any psychoactive activity because the conditions for the formation of THC from
THC-A and THC-B acids will not be introduced, and where it is already proven that the acids in their natural
state are not psychoactive. (American Herbal Pharmacopoeia Cannabis Inflorescence 2013 Page 34)</p>
<p>The business model is to produce a Phytofare® dietary supplement containing a complex of non-psychoactive
cannabinoids entrapped in liposome and delivered for oral administration. Following the initial profiling,
bioavailability, dosage levels and the absence of psycho-activity will be established. We will then seek
declassification of the extract from the Government of South Africa from a code 6-controlled substance to a
code 4 and thereby allowing the Company global reach for licensing and sale of cannabis product as on over
the counter prescribed medicine.</p>
<div class="blurred-img" style="width: 50%; margin: 5px auto">
  <img style="opacity:0" src="/images/cannabis/cannabis_rx.png"/>
</div>
<strong>Chairman & CEO:</strong> <i>Roger Baylis-Duffield</i>

<p style="margin-top:12px;">Mr. Duffield has a significant background in the development and management of start-ups, private and public
companies, in the United States, Europe and South Africa. Currently, Mr. Duffield serves as CEO of Protext
Mobility as well as Chairman of Plandai Biotechnology Inc., a USA public company with operations in South
Africa. He also serves as the non-executive chairman of the Dunn Roman group of companies. In 2002, Mr.
Duffield cofounded the Plandai group of companies, which is now comprised of considerable interests in
biopharmaceuticals in South Africa, including the 7500 acre Senteeko green tea estate. He has an extensive
background with published scientific research and development of Plandai sciences and bioavailable botanical
extracts through the actions of cavitation and sonoluminescence relating with live plant materials and
emulsions. The Plandai science platform involves contributions from numerous academic institutions and
research laboratories.</p>
<p>Mr. Duffield was awarded in 1997 an Honorary Nuclear Doctorate by the Russian Academy of Natural Sciences
and a further Honorary Doctorate in Material Sciences by the European Natural Sciences. In 2001 the
Foundation for International Services, California granted recognition of a BSc qualification in Chemical
Engineering. During the period 1990 through 2002 Mr. Duffield both founded and managed two USA public
companies involved with new sciences relating to hydrocarbons, emulsions and fuel cells supported through
powder metallurgy. Extensive published research has been undertaken with numerous academic institutions
through the world, including USA, Europe, Russia, Siberia and South Africa. Mr. Duffield also has an extensive
background in the farming of sub-tropical fruits and green tea when he owned and operated farms in South
Africa.</p>
