<p>
    Plandaí Biotechnology South Africa (Pty) Ltd. (formerly Protext Mobility, Inc.), is publicly traded on OTC under the ticker symbol “TXTM.” 
</p>
<p>
    The Company is actively engage in the research and clinical testing of “bioceutical” products—all natural ingredients formulated for pharmaceutical applications and processed under pharma-grade conditions.  Our initial product, Phytofare® Catechin Complex, has been clinically proven to have 10 times greater bioavailability over generic catechin extracts.  Commencing early 2017, we will be conducting a human clinical trial to determine the effectiveness of Phytofare® in regulating blood sugar levels in diabetics.  The trial will be conducted in the island country of Mauritius which has the highest per capita incidence of diabetes in the world.   Assuming a favorable result, we anticipate having a product market ready by the end of 2017 and eventually filing for product claims with the US Food and Drug Administration.
</p>
<p>
    We are majority-owned by Plandaí Biotechnology, Inc. (OTC:PLPL), a London-based holding company that controls over 8,000 acres of tea estate in the province of Mpumalanga, South Africa, and owns a 100,000ft2 manufacturing facility that produces Phytofare®.  
</p>
<img src='/images/extraction_facility.png'>