<div class='section-head-solid'>
    <h5>Latest Press Release</h5>
    <embed src='/press_releases/<%=recentPR%>' width="100%" height="800px" />
</div>
<h3><a href='/articles/pr/'>Other Press</a></h4>
<!--<div class='section-head-solid'>
    <h5>RSS Feed</h5>
</div>
<hr/>
<h4>Coming Soon</h4>
<hr/>-->