<p>
    On December 31, 2016, we completed a share exchange with Plandaí Biotechnology South Africa (Pty) Ltd.  in which we acquired 100% of the outstanding stock of Plandaí.   As a result of this transaction, the shareholders of Plandaí became the majority owners of Protext Mobility and Plandaí elected to become the “successor issuer” for SEC reporting purposes.
</p>
<p>
    Plandaí is a research company headquartered in the Mpumalanga province of South Africa, approximately an hour west of the Kruger National Park in the northeast part of the country.  Plandaí has the worldwide exclusive license to develop and market pharmaceutical applications for Phytofare® extracts, including the green-tea derived Catechin Complex that has been clinical proven to be 10-times more bioavailable than generics.
</p>
<p>
    Green tea catechins have demonstrated a wealth of clinical health benefits and can be found in many different nutraceutical products, especially for weight loss.  In laboratory, in vitro studies, catechins have shown remarkable potential for treating viruses, bacterial infections, inflammation, preventing certain cancers, and regulating blood sugar levels.  However, like many botanical extracts, green tea has notoriously low bioavailability. Meaning, very little of what is consumed makes it intact to the blood stream.  Phytofare®, with its superior bioavailability, can deliver all 8 catechins to the blood stream at therapeutic levels, where they remain active for over 24 hours.
</p>
<p>
    What this means is that we have the potential, for the first time, to use an all-natural extract for pharmaceutical applications.
</p>
<p>
    Commencing in early 2017, we will be conducting a human clinical trial in the island country of Mauritius to determine the effectiveness of Phytofare® in controlling blood sugar levels in diabetics.  Mauritius has the highest per-capita incidence levels of diabetes in the world.  Assuming the trials results are favorable, we anticipate having a product market-ready by end of 2017 specific for managing insulin.
</p>
<p>
    Future clinical trials will involve both the Catechin Complex and a citrus-based Limonoid Complex as we pursue treatments for inflammation, viruses (including malaria), soft-tissue injuries, and capillary integrity.
</p>