<img height="100px" class="content-img" src="/images/cannabis/cannabis_rx.png"/>
<p>
    Protext Mobility, Inc. recently added ownership of Cannabis Biosciences Inc. to its portfolio as a

    wholly-owned subsidiary. Cannabis Biosciences was incorporated in 2013 to develop non-

    psychoactive medicines from live cannabis plant and will focus on developing cannabis extracts 
    
    under legal government licenses and permits which the Company is currently pursuing.
</p>
<p>
Using Plandaí’s proprietary processing and extraction technology, the company intends to commence 

investigations in conjunction with independent researchers to develop and validate a full-profile 

cannabis extract, one that contains both CBD and the precursor acid form of THC (THC-A and THC-B) 

found in live cannabis plant. The hypothesis is that the resultant extract will have similar, superior 

bioavailability of other Phytofare® extracts with the added benefit of being non-psychoactive.
</p>
<p>
Live cannabis leaf is inherently non-psychoactive. It is the process of drying and heating the leaf that

metabolizes these acid forms into THC, a chemical that triggers the euphoria sought after by

recreational users. In developing pharmaceutical applications, the commonly used super critical

extraction method also uses extreme temperatures that causes THC to retain these properties. Our

process, which uses live leaf and low temperatures to extract the phyto-chemicals, should leave the

acid forms of THC intact, resulting in a non-psychoactive extract with full medicinal potential.
</p>
<p>
Where most pharma companies have chosen to focus on the non-psychoactive CBD chemical, we

believe that this strategy limits the potential medical benefits. Our full profile, non-psychoactive

extract is intended to give researches all of the benefits of cannabis with none of the unwanted side

effects.
</p>
<h3>Introduction to Cannabis</h3>
<p>
    The plant Cannabis sativa produces over 421 chemical compounds including 80

terpeno-phenol compounds (phytocannabinoids) that have not been detected in

any other plant. Currently commercial attention has been focused on producing

extracts of ∆⁹- tetrahydrocannabinol (∆⁹- THC) which is the most psychotropic

component and rapidly metabolizes in the body to a number of oxygenated products;

but specifically binds to the G-protein- coupled CB1and CB2 neuron receptors.
</p>
<p>
    The major problem in the current world of medical marijuana is the inability of the

industry to deliver botanical cannabinoid agents with therapeutic action in a validated

dosage and without psychotropic side effects.
</p>
<img class="content-img" src="/images/cannabis/benefits_body.jpg"/>
<p>
    As the industry of medical marijuana has rapidly grown in the United States and

many other parts of the world over the past few years so have the scientific

challenges and responsibilities. Numerous, largely unregulated, botanical cannabis

products sold through licensed dispensaries have entered the market. Medicinal

applications range from formulated foods, liquids, capsules, vapour pens and

inhalers, or simply smoking the dried flower. The claims are disparate, unsupported

by clinical trials, and fail to take into account varying dosage levels or differences in

chemical values of the different strains.
</p>
<p>
    This new industry has not addressed or overcome multiple challenges associated

with the development of a safe wellness product. These products, targeted for

disease prevention rather than recreational use, still rely mainly on psychoactive oral

administration as the only viable route. The undesirable consequences are

disturbing and heavily stigmatized in most societies.
</p>
<p>
    For cannabinoids to become an approved FDA botanical drug, the questions of

psychoactivity, metabolization, excretion, target tissue uptake, and residence time

must be clinically addressed.
</p>
<h3>The Endocannabinoid System</h3>
<p>
    The <strong>endocannabinoid system (ECS)</strong> is a group of endogenous cannabinoid

receptors located in the brain and throughout the central and peripheral nervous

systems. The ECS system is responsible in controlling a variety of physiological

processes including appetite, pain-sensation, mood and memory. Evidence suggests

that endocannabinoids may function as both neuromodulators and

immunomodulators in the immune system where they seem to serve an

autoprotective role to ameliorate muscle spasms, inflammation, and other symptoms

of multiple sclerosis and skeletal muscle spasms.
</p>
<p>
    The endocannabinoid system is a main target for pharmacotherapy though it

presents numerous treatment challenges. We know that the cannabinoid receptors

are activated by endogenous ligands and that the mechanisms of the

endocannabinoid biosynthesis and inactivation constitute the endocannabinoid

release in the central and peripheral nervous system, pain perception, and

cardiovascular, gastrointestinal and liver functions.
</p>
<p>
    The Company’s strategy is to both improve the efficacy and manipulate the

endocannabinoid system through delivering a complex of highly bioavailable non-

psychoactive cannabinoids and polyphenols. It is suggested this may include

targeting of the cannabinoid receptors located outside the blood brain barrier and

modulating the endocannabinoid system. We further propose eliminating of the

psychotropic side effects of ∆⁹- tetrahydrocannabinol by retaining it in its natural

form: ∆⁹- tetrahydrocannabinol acid (∆⁹-THCA), cannabidiolic acid (CBDA) and ∆⁹

tetrahydrocannabivarin (∆⁹-THCV). Research shows that these compounds exert

multiple actions through mechanisms related to the modulation of the

endocannabinoid system. Together with cannabidiol (CBD), which exerts several

safe positive pharmacological effects in inflammation, diabetes and cancer, ∆⁹-THCV

has demonstrated the pharmacological profile of a CB1 antagonist with obesity.
</p>
<h3>Hypothesis</h3>
<p>
    The hypothesis follows the scientific evidence showing that different diseases

(neurodegenerative, neurotrauma, cancer) share common factors with inflammation,

oxidative stress and excitotoxicity.
</p>
<p>
    We propose that the known wide distribution of the endocannabinoid system, and

particularly the link between the endocannabinoid system, the immune system, the

oxidative stress reactions (antioxidant properties of cannabinoids), excitotoxicity

(modulation of excitatory glutamatergic transmissions), neuroinflammation,

neurodegeneration, the MAPK signaling pathway and the PI3K–Akt pathway, all

support a palliative action from Phytofare ® cannabinoid complex including for the

treatment and prevention of Parkinson, Alzheimer, epilepsy, Multiple Sclerosis,

traumatic brain injury and cancer. It is argued that the main target for the

mechanisms of action is the CB2R, being CB1R also involved but mainly in the

cognitive and motor effects.
</p>
<img class="content-img" src="/images/cannabis/pi_chart.png"/>
<p>
    Cannabis Biosciences will utilize Plandai’s processing and extraction protocols using

leaf and flower of the live cannabis plant which is expected to yield a non-

psychoactive complex of the entire plant phytonutrients, including

phytocannabinoids, cannabinoid acids and polyphenols. The resultant extract will be

entrapped in the liposome system, thereby conferring high bioavailability, efficacy

and protection through the stomach and liver to the plasma.
</p>
<p>
    Phytofare® phytocannabinoids are expected to travel through the blood-brain barrier

where cannabinoids have been shown to protect the brain in a variety of conditions

(Rom et al., 2013). Pharmaceutical drugs have demonstrated restricted ability to

cross the blood brain barrier and thereby have shown to have little to no benefit in

treating neuron disorders (Avraham et al., 2013).
</p>
<p>
    It is postulated that the Phytofare ® phytocannabinoid complex will exhibit no

psychoactive activity because the conditions for the formation of THC from THCA

and THCB acids will not be introduced, and it is already proven that the acids in their

natural state are not psychoactive.
</p>
<p>
    In conclusion, it is expected that the high bioavailability characteristics, the presence

of the phytocannabinoids precursors (acids) with polyphenols and terpenes, together

with the known action of cannabinoids in the immune system, will translate to an

efficient physiological action for the treatment of neurodegenerative diseases and

cancers.
</p>
<h3>General Objective</h3>
<p>
    The objective of this project is to produce an FDA approved botanical drug/dietary

supplement containing Phytofare ® non-psychoactive phytocannabinoids entrapped in

liposome with high bioavailability and efficacy for the treatment and prevention of

neurodegenerative diseases and cancer. The project will incorporate the following

elements:
</p>
<h4>Controlled Environment Cultivation</h4>
<p>
    The growing of stable and specific cannabis specie is critical to ensuring

pharmacologic consistency and repeatability of the final extract. The chemical profile

of cannabis can vary not only strain-to- strain, but also from fluctuations in growing

temperature, light, nutrients, and airflow. The project will require the cannabis plant

to be grown in a controlled environment cultivation system.
</p>
<p>
    Cannabis Biosciences intends to build on the successful farming model put in place

by the parent company, Plandaí Biotechnology, in South Africa. This project

developed the standards in farming husbandry and methodologies with green tea

that have established a platform that should allow a Phytofare® extract from

cannabis plants to be successfully grown in a specific and controlled environment.
</p>
<h4>Extraction, Chemical Profile, and Nano-Entrapment</h4>
<p>
    The second phase of the project will involve the creation of a Phytofare ®

phytocannabinoid complex from live cannabis flower and leaf; with the processing

system located at an approved research facility. Our protocols for producing the

extract are specific to the cannabis plant and are free of solvents or chemicals.
</p>
<p>
    During the various processing stages of cavitation and sonoluminescence, the

complex of phytonutrients and phytocannabinoids are converted into highly-

bioavailable amorphous crystals, expressed in a unique cis- and trans-isomer

forensic molecular footprint. The resulting Phytofare® complex is then entrapped in

liposome for further protection of molecules and then delivered in capsules for oral

consumption. Detailed analysis and chemical profiling will support the final product.
</p>
<h3>Biological Assessment</h3>
<p>
    Following the initial profiling, the project will evaluate the antioxidant activities of the

complex by means of in vitro and in vivo (murine) studies. This phase includes

evaluating anti-inflammatory and antioxidant activities; toxicity and mutagenicity;

bioavailability and absence of psychoactivity.
</p>
<h3>Neurological Diseases and Cancer</h3>
<p>
    The blood-brain barrier (BBB) is formed by highly specialized endothelial cells that

line brain capillaries and transduce signals from the vascular system and from the

brain. The medical challenges of delivering an effective therapy to the brain is

formidable as the blood–brain barrier (BBB) is a dynamic barrier protecting the brain

against invading organisms and unwanted substances.
</p>
<p>
    It is also the most important barrier impeding drug transport into the brain via the

blood circulation. Despite the rapid development in our understanding of the

molecular structure of components of the BBB, our knowledge in receptor expression

at the BBB, advances in medical technology, and breakthroughs in nanotechnology-

based approaches, many of the brain or central nervous system associated diseases

remain under-treated by effective therapies.
</p>
<p>
    A feature of the BBB is its low and selective permeability to molecules which can be

attributed to its unique biological characteristics and undergo significant changes

when the brain is developing a neurological disorder, in inflammatory conditions or

under attack by pathogens.
</p>
<p>
    Phytocannabinoids have been researched to effectively pass through the BBB and

have been shown to have both anti-inflammatory activities and neuron free radical

scavenging. Specific in vitro and mouse modelling studies are required to confirm

that Phytofare® phytocannabinoids are transported into the brain via the blood

circulation and provide both anti-inflammatory activities as well as perform oxygen

free radical scavenging and support the endocannabinoid system. This could also

include new botanical strategies for treating diseases like Alzheimer's and

Parkinson's.
</p>
<img class="content_img" src="/images/cannabis/benefits_chart.jpg"/>