<h4>
  Roger Duffield - President & CEO
</h4>
<p>
  Roger Duffield has a significant background in the development   and management of start-ups, private and public companies, especially in the United States, Europe and South Africa. His previous contributions in the United States public sector include Klinair Technologies Inc. and Rhombic Inc. relating to energy and hydrocarbon technologies. Through his extensive involvement with research and development programs with a number of academic institutions, including Penn State, University of Southern California, University of Washington, and the University of Limerick, Ireland, he was awarded two honorary Russian doctorates in Natural Sciences from the University of Moscow and Novosibirsk. In 2001 the Foundation for International Services, California recognized a degree in BSc. Chemical Engineering.
</p>
<p>
  In 2001 he co-founded Global Energy Solutions Corporation Limited, Dublin, Ireland, recently acquired by Plandaí Biotechnology, Inc., and in 2003, the USA-based Research Company, CRS Technologies Inc. Mr. Duffield now heads this group of companies specializing, through private and public investment in the farming and recovery of highly valuable botanical extracts with unique characteristics.
</p>