<p>
  Plandaí Biotechnology South Africa (Pty) Ltd. (OTCQB: TXTM) is a South Africa-based research company focusing on the development of pharmaceutical applications for botanical drugs.
</p>
<p>
  We are a majority-owned subsidiary of parent company, Plandaí Biotechnology, Inc.  While headquartered in London, Plandaí operates a 100,000 ft<sup>2</sup> manufacturing facility in Mpumalanga, South Africa, where it produces Phytofare® Catechin Complex. 
</p>
<p>
  Phytofare® is a highly bioavailable extract produced from live green tea leaves that has been clinically proven in double-blind human trials to have ten-times greater bioavailability over generic extract.  What this means is that Phytofare®  can deliver a therapeutic level of catechins to the system where they remain active for over 24 hours. 
</p>
<p>
  We are initially focusing on our upcoming human clinical trial on diabetes which will help determine if Phytofare® can be effective in regulating blood sugar levels.  Future research will test other potential pharmaceutical applications of catechins including anti-viral, anti-malarial, arthritis and cancer prevention.  In addition, we will be working with our parent company, Plandaí, on clinical trials involving the Phytofare® Limonoid Complex for anti-inflammatory, capillary integrity, and soft tissue injury applications. 
</p>